/*번역 선택 스타일*/
.ico-language {
    background-image: url("../global/icon/Header/ico_language.png");
    width: 30px;
    height: 30px;
    transform: translateY(-10%);
}

.lang_layer {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    height: 40px;
    width: 40px;
}

.lang_btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #333;
    align-items: center;
}

.lang_menu {
    display: none;
    position: absolute;
    top: 37%;
    right: -80%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 0;
    width: 90px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: all 0.3s ease;
    align-items: center;
}

.lang_menu li {
    list-style: none;
}

.lang_menu li a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: #333;
    transition: background 0.2s;
    align-items: center;
}

.lang_menu li a:hover {
    background-color: #f0f0f0;
}

/* 데스크탑: hover 시 메뉴 표시 */
@media (min-width: 768px) {
    .lang_layer:hover .lang_menu {
        display: block;
    }
}